@font-face {
  font-family: 'OpenSansRegular';
  src:  url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
        font-style: normal;
        font-variant: normal;
} 
@font-face {
  font-family: 'OpenSansBold';
  src:  url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetype');
        font-style: normal;
        font-variant: normal;
}

